<div class="footer">
  <div class="container mb-3">
    <div class="nav">
      <a class="nav-link active mt-2" aria-current="page" routerLink="/inicio"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio,
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Inicio
        </p></a
      >
      <a class="nav-link active mt-2" routerLink="/contenido/0"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio, 
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Peliculas
        </p></a
      >
      <a class="nav-link active mt-2" routerLink="/proximamente"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio,
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Proximamente
        </p></a
      >
      <a class="nav-link active mt-2" routerLink="/nosotros"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio,
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Nuestro Equipo
        </p></a
      >
      <a class="nav-link active mt-2" routerLink="/contacto"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio,
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Contacto
        </p></a
      >
      <a class="nav-link active mt-2" routerLink="/reservaciones" *ngIf="dataUser !== null"
        ><p
          [ngClass]="{
            'link-grande': accService.linkResaltadoBooleanServicio,
            'texto-grande': accService.letraGrandeBooleanServicio
          }"
        >
          Lista de Reservaciones
        </p></a
      >
    </div>
  </div>
  <img src="assets/img/Logo.png" alt="" />
  <h1>CineFaction</h1>
  <p style="color: #97a7e7"><i>El cine ahora es personal</i></p>
</div>
