<div
  class="container mt-5 mb-5 pt-4 d-flex flex-column align-items-center shadow rounded-lg"
  [ngClass]="{ 'texto-grande': accService.letraGrandeBooleanServicio }"
>
  <h3
    [ngClass]="{
      'texto-grande4': accService.letraGrandeBooleanServicio
    }"
    (mouseenter)="leerTexto1($event)"
  >
    Contáctenos
  </h3>
  <h5
    [ngClass]="{
      'texto-grande2': accService.letraGrandeBooleanServicio
    }"
    (mouseenter)="leerTexto1($event)"
  >
    Háganos saber cualquier duda, la resolveremos lo más pronto posible
  </h5>
  <br />
  <form [formGroup]="forma" (ngSubmit)="enviar()" class="w-75">
    <div class="container d-flex flex-column align-items-center">
      <div class="row w-100">
        <div class="col-6 mb-3">
          <div class="input-group mb-2 has-validation">
            <div class="input-group-prepend">
              <div class="input-group-text" (mouseenter)="leerTexto1($event)">
                Nombre
              </div>
            </div>
            <input
              class="form-control form-control-lg"
              [ngClass]="{
                'is-invalid': !forma.get('nombre')?.valid,
                'texto-grande-placeholder':
                  accService.letraGrandeBooleanServicio
              }"
              type="text"
              formControlName="nombre"
              [(ngModel)]="usuario"
            />
            <div
              *ngIf="forma.controls['nombre'].errors?.['required']"
              class="invalid-feedback"
              (mouseenter)="leerTexto1($event)"
            >
              El nombre es necesario
            </div>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class="input-group mb-2 has-validation">
            <div class="input-group-prepend">
              <div class="input-group-text" (mouseenter)="leerTexto1($event)">
                Correo
              </div>
            </div>
            <input
              class="form-control form-control-lg"
              [ngClass]="{
                'is-invalid': !forma.get('correo')?.valid,
                'texto-grande-placeholder':
                  accService.letraGrandeBooleanServicio
              }"
              type="email"
              formControlName="correo"
              [(ngModel)]="email"
            />
            <div
              *ngIf="forma.controls['correo'].errors?.['required']"
              class="invalid-feedback"
              (mouseenter)="leerTexto1($event)"
            >
              Correo obligatorio
            </div>
            <div
              *ngIf="forma.controls['correo'].errors?.['email']"
              class="invalid-feedback"
              (mouseenter)="leerTexto1($event)"
            >
              El correo no tiene el formato correcto
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-5">
        <textarea
          (mouseenter)="leerTexto2($event)"
          class="form-control form-control-lg"
          [ngClass]="{
            'is-invalid': !forma.get('duda')?.valid,
            'texto-grande-placeholder': accService.letraGrandeBooleanServicio
          }"
          placeholder="Escriba su duda..."
          formControlName="duda"
          [(ngModel)]="descripcion"
          rows="4"
        ></textarea>
        <div
          *ngIf="forma.controls['duda'].errors?.['required']"
          class="invalid-feedback"
          (mouseenter)="leerTexto1($event)"
        >
          Ingrese su duda por favor
        </div>
        <div
          *ngIf="forma.controls['duda'].errors?.['minlength']"
          class="invalid-feedback"
          (mouseenter)="leerTexto1($event)"
        >
          Por lo menos 10 caracteres
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button
            type="submit"
            class="btn boton"
            [disabled]="forma.invalid"
            [ngClass]="{
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
