.container {
    margin-bottom: 200px;
}

/*Accesibilidad*/

.texto-grande {
    font-size: larger;
  }
  
  .link-grande {
    background-color: yellow;
    color: black;
    font-size: larger;
    font-weight: bold;
    font-family: "Metropolis", sans-serif;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.162);
    text-transform: uppercase;
    text-decoration: underline solid;
  }
  
  .link-grande2{
    background-color: yellow;
  }
  
  .texto-alineado {
    text-align: justify;
  }
  
  .texto-grande2 {
    font-size: 150%;
  }
  
  .texto-grande3{
    font-size: 120%;
  }
  
  /*Accesibilidad*/