<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="Login">
        <h1 class="mb-3">Verificar número</h1>
        <form (ngSubmit)="onTelefoneSubmit()" [formGroup]="numTelefonoR">
            <div class="form-floating mb-3">
                <label class="h6">Número de teléfono</label>
                <input type="text" formControlName="numTelefono" class="form-control" placeholder="1234567891">
                
            </div>
            <div #recaptchaContainer></div> 
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn boton" [disabled]="numTelefonoR.invalid" >Vincular</button>
            </div>
        </form>
        <hr>
        <form (ngSubmit)="onVerifyCode()" [formGroup]="OTPCode">
            <div class="form-floating mb-3">
                <label class="h6">Código de verificación</label>
                <input type="text" formControlName="otpCode" class="form-control" placeholder="123456" [disabled]="OTPbool">
                
                <span *ngIf="OTPCode.get('otpCode')?.hasError('required') && OTPCode.get('otpCode')?.touched" class="text-danger errorLabel">
                    El <strong>código de verificación</strong> es requerido.
                </span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn boton" [disabled]="OTPCode.invalid" >Ingresar</button>
            </div>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>