<nav
  class="navbar sticky-top navbar-expand-xl navbar-dark"
  [ngStyle]="{ 'background-color': color }"
>
  <a
    class="navbar-brand mr-1 ms-2"
    [ngClass]="{ 'margen-abajo': accService.linkResaltadoBooleanServicio }"
    routerLink="/inicio"
    ><img src="assets/img/Logo.png" alt="Icon" width="50px"
  /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--Cambiar el icono al logo negro
   -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          [ngClass]="{
            'margen-arriba': accService.letraGrandeBooleanServicio,
            'margen-arriba2': accService.linkResaltadoBooleanServicio
          }"
          (mouseenter)="leerTexto1($event)"
          ><h3>CineFaction</h3></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active mt-2"
          aria-current="page"
          routerLink="/inicio"
        >
          <p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Inicio
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active mt-2" routerLink="/contenido/0"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Peliculas
          </p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active mt-2" routerLink="/proximamente"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Proximamente
          </p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active mt-2" routerLink="/nosotros"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Nuestro Equipo
          </p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active mt-2" routerLink="/contacto"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Contacto
          </p></a
        >
      </li>
      <li class="nav-item" *ngIf="dataUser !== null">
        <a class="nav-link active mt-2" routerLink="/reservaciones"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            Reservaciones Realizadas
          </p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active mt-2" (click)="alternarSesion()">
          <p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio,
              'iniciar-sesion': !accService.linkResaltadoBooleanServicio
            }"
            (mouseenter)="leerTexto1($event)"
          >
            <span>
              {{
                dataUser
                  ? "Hola " + dataUser?.displayName + ". Cerrar sesión"
                  : "Iniciar sesión"
              }}</span
            >
          </p>
        </a>
      </li>
      <li class="nav-item" *ngIf="adminLogin !== false">
        <a class="nav-link active mt-2" routerLink="/dashboard"
          ><p
            [ngClass]="{
              'link-grande': accService.linkResaltadoBooleanServicio,
              'texto-grande': accService.letraGrandeBooleanServicio
            }"
          >
            Página de administrador
          </p></a
        >
      </li>
    </ul>
    <form class="form-inline my-2 busqueda">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Nombre de la película"
        aria-label="Search"
        [(ngModel)]="nombre"
        [ngModelOptions]="{ standalone: true }"
        (keyup.enter)="enrutar()"
      />
      <p-button
        icon="pi pi-search"
        (click)="enrutar()"
        styleClass="p-button-raised p-button-sm p-button-help"
      ></p-button>

      <!--Falta poder hacer que el icono se torne amarillo-->
    </form>
  </div>
</nav>
